{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Admin.Design.Feature" %}

{% block content %}
    <div class="row">
        <h2>Demo</h2>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}